<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.ListenersClass" />
    </listeners>

    <test verbose="2" preserve-order="true"
          name="D:/Automation workspace/intellij/QAautomation/src/test/java/TestLogin.java">
        <classes>
            <class name="TestLogin"></class>
            <class name="TestProductSearch"></class>
        </classes>
    </test>
</suite>